@import "~bootstrap/scss/functions";
@import "../variables";
@import "~bootstrap/scss/bootstrap";

.trust-deopdown {
  border-color: #F1F4F8
}

.trust-deopdown:hover {
  background-color: white;
}

.interest {
  color: #49A397;
}
